<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ČSFD Export of user {{ uid }}</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'csfd_export/main.css' %}"
      type="text/css"
      media="screen"
    />
    <style>
      body.js .unless-js,
      body:not(.js) .when-js {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <main>
        <div class="container">
          <!-- prettier-ignore -->
          <div id="done" {% if loading or error_message %} class="hidden" {% endif %}>
            <h2 class="border-success">Here is your ČSFD ratings export</h2>
            <p>
              Please note that if you rate a new film on ČSFD now, it can take
              up to 1h before the rating appears in the export.
            </p>
            <p>
              <a
                href="data:text/plain;charset=utf-8,{{ csv|iriencode }}"
                download="csfd_export_{{ uid }}.csv"
                id="download"
                class="button background-success border-success when-js"
                >Download as CSV</a
              >
              <button
                onclick="navigator.clipboard.writeText(document.getElementById('csv').textContent).then()"
                class="button background-success border-success when-js"
              >
                Copy to clipboard
              </button>
              <a href="{% url 'index' %}" class="button">Go back</a>
            </p>
            <pre id="csv" class="box background-muted flex-grow mr-1-desktop">
{{ csv }}</pre
            >
          </div>
          <!-- prettier-ignore -->
          <div id="loading" {% if not loading or error_message %} class="hidden" {% endif %}>
            <h2 class="border-dashed">Exporting your ČSFD ratings<code id="spinner"></code></h2>
            <p>The spreadsheet will be ready in a minute.</p>
            <a href="{% url 'user-detail' uid %}" class="button unless-js"
              >Refresh</a
            >
          </div>
          <div id="error" {% if not error_message %} class="hidden" {% endif %}>
            <h2 class="border-error">Error</h2>
            <p id="error-message">{{ error_message }}</p>
            <p><a href="{% url 'index' %}" class="button">Go back</a></p>
          </div>
        </div>
      </main>
      <footer>
        <a href="https://www.jakubvalenta.cz/" target="_blank" rel="noreferrer"
          >Jakub Valenta</a
        >
        2024
        <a
          href="https://github.com/jakubvalenta/csfd-export"
          target="_blank"
          rel="noreferrer"
          >code</a
        >
      </footer>
    </div>
    <script>
      (() => {
        const CLASS_HIDDEN = 'hidden';

        const csvEl = document.getElementById('csv');
        const doneEl = document.getElementById('done');
        const downloadEl = document.getElementById('download');
        const errorEl = document.getElementById('error');
        const errorMessageEl = document.getElementById('error-message');
        const loadingEl = document.getElementById('loading');
        const spinnerEl = document.getElementById('spinner');

        function show(el) {
          el.classList.remove(CLASS_HIDDEN);
        }

        function hide(el) {
          el.classList.add(CLASS_HIDDEN);
        }

        function isVisible(el) {
          return !el.classList.contains(CLASS_HIDDEN);
        }

        function setCsv(csv) {
          csvEl.textContent = csv;
          downloadEl.setAttribute(
            'href',
            'data:text/plain;charset=utf-8,' + encodeURIComponent(csv)
          );
          hide(errorEl);
          hide(loadingEl);
          show(doneEl);
        }

        function setErrorMessage(errorMessage) {
          errorMessageEl.textContent = errorMessage;
          hide(doneEl);
          hide(loadingEl);
          show(errorEl);
        }

        document.body.classList.add('js');

        const frames = ['.  ', '.. ', '...', ' ..', '  .', '   '];
        var i = 0;
        setInterval(function () {
          spinnerEl.innerHTML = frames[i];
          i = (i + 1) % frames.length;
        }, 300);

        if (isVisible(doneEl)) {
          return;
        }

        const interval = setInterval(() => {
          fetch("{% url 'user-detail' uid %}", {
            headers: { Accept: 'text/csv' }
          })
            .then(res => {
              if (res.status === 200) {
                res
                  .text()
                  .then(csv => setCsv(csv))
                  .catch(console.error);
                clearInterval(interval);
              } else if (res.status === 201) {
                // Retry.
              } else {
                res
                  .text()
                  .then(errorMessage =>
                    setErrorMessage(
                      res.headers.get('Content-Type') === 'text/csv'
                        ? errorMessage
                        : 'Unknown error'
                    )
                  )
                  .catch(console.error);
              }
            })
            .catch(logMessage => {
              console.error(logMessage);
              setErrorMessage('Connection error');
            });
        }, 3000);
      })();
    </script>
  </body>
</html>
