<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ČSFD Export of user {{ uid }}</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'csfd_export/main.css' %}"
      type="text/css"
      media="screen"
    />
    <style>
      body.js .unless-js,
      body:not(.js) .when-js {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <main>
        <div class="container">
          <div id="done" {% if csv is None %} class="hidden" {% endif %}>
            <h2 class="border-success">Here is your ČSFD ratings export</h2>
            <p>
              Please note that if you add or change a rating on ČSFD now, it can
              take up to 1h before it appears in the next export.
            </p>
            <p>
              <a
                href="data:text/plain;charset=utf-8,{{ csv|iriencode }}"
                download="csfd_export_{{ uid }}.csv"
                class="button background-success border-success when-js"
                >Download as CSV</a
              >
              <button
                onclick="navigator.clipboard.writeText(document.getElementById('csv').textContent).then()"
                class="button background-success border-success when-js"
              >
                Copy to clipboard
              </button>
              <a href="{% url 'index' %}" class="button">Go back</a>
            </p>
            <pre id="csv" class="box background-muted flex-grow mr-1-desktop">
{{ csv }}</pre
            >
          </div>
          <div id="loading" {% if csv is not None %} class="hidden" {% endif %}>
            <h2 class="border-dashed">Exporting your ČSFD ratings...</h2>
            <p>The spreadsheet will be ready in a minute.</p>
            <a href="{% url 'user-detail' uid %}" class="button unless-js"
              >Refresh</a
            >
          </div>
        </div>
      </main>
      <footer>
        <a href="https://www.jakubvalenta.cz/" target="_blank" rel="noreferrer"
          >Jakub Valenta</a
        >
        2024
        <a
          href="https://github.com/jakubvalenta/csfd-export"
          target="_blank"
          rel="noreferrer"
          >code</a
        >
      </footer>
    </div>
    <script>
      document.body.classList.add('js');

      if (document.getElementById('done').classList.contains('hidden')) {
        const interval = setInterval(() => {
          fetch("{% url 'api-user-detail' uid %}")
            .then(res => {
              if (!res.ok) {
                return;
              }
              res
                .text()
                .then(csv => {
                  document.getElementById('csv').textContent = csv;
                  document.getElementById('loading').classList.add('hidden');
                  document.getElementById('done').classList.remove('hidden');
                })
                .catch(console.error);
              clearInterval(interval);
            })
            .catch(console.error);
        }, 3000);
      }
    </script>
  </body>
</html>
